@font-face {
    font-family: '8143';
    src: url('fonts/8143.eot');
    src: url('fonts/8143.eot') format('embedded-opentype'),
    url('fonts/8143.woff2') format('woff2'),
    url('fonts/8143.woff') format('woff'),
    url('fonts/8143.ttf') format('truetype'),
    url('fonts/8143.svg#8143') format('svg');
}
@media (max-width: 576px) {
    #component {
        font-size: 3.3vw;
    }
}
body,a {
    font-family: '8143';
}
a {
    color: #128f44;
}

#component {
    padding: 5px;
}

.spacer {
    margin: 5px auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.page-header {
    color: #0b2e13;
}